<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_vpn_shield"
        android:roundIcon="@drawable/ic_vpn_shield"
        android:supportsRtl="true"
        android:theme="@style/Theme.VPNModern"
        android:label="@string/app_name"
        >

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@drawable/ic_vpn_shield"
            android:roundIcon="@drawable/ic_vpn_shield"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".CustomVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false">

            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>

        </service>

    </application>

</manifest>